 <widget id="A6015851206678"  version="0.0.1">

    <name>testVueApicloud</name>

    <description>

        Example For APICloud.

    </description>

    <author email="developer@apicloud.com" href="http://www.apicloud.com">

        Developer

    </author>

    <content src="http://192.168.1.88:8080" />
    <!-- <content src="index.html" /> -->

    <access origin="*" />

    <preference name="pageBounce" value="false"/>

	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>

	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>

	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

	<preference name="hScrollBarEnabled" value="false"/>

	<preference name="vScrollBarEnabled" value="false"/>
	<preference name="backgroundMode" value="audio"/>
	<!-- 软键盘处理 -->
	<preference name="softInputMode" value="pan"/>

	<preference name="autoLaunch" value="true"/>

	<preference name="fullScreen" value="false"/>

	<preference name="autoUpdate" value="true" />

	<preference name="smartUpdate" value="false" />

	<preference name="debug" value="true"/>

	<preference name="statusBarAppearance" value="true"/>

	<permission name="readPhoneState" />

	<permission name="camera" />

	<permission name="record" />

	<permission name="location" />

	<permission name="fileSystem" />

	<permission name="internet" />

	<permission name="bootCompleted" />

	<permission name="hardware" />
	
	<!-- 微信 -->
	<feature name="wx">
		<param name="urlScheme" value="wx0d171edc815024a8"/>
		<param name="apiKey" value="wx0d171edc815024a8"/>
		<param name="apiSecret" value="4e19c2cb6ecff54e9a416438bea6cd58"/>
	</feature>

	<!-- 支付宝 -->
	<feature name="aliPayPlus">
      <param name="urlScheme" value="AliPayPlusA6015851206678" />
  	</feature>

</widget>

